<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>勤怠情報変更｜LMS</title>
</head>

<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：[[${dispLeaveDate}]]</small></h2>
		</th:block>
	</th:block>

	<div class="row">
		<div class="bs-component col-sm-12">

			<form th:action="@{/attendance/complete}" method="post" th:object="${attendanceForm}"
				id="attendanceUpdateForm">

				<th:block th:if="${#fields.hasErrors()}" id="error">
					<ul style="padding-left: 0; list-style: none;">
						<li class="text-danger" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></li>
						<li class="text-danger" th:each="error : ${#fields.errors()}" th:text="${error}"></li>
					</ul>
				</th:block>
				<table class="table table-hover dataTable no-footer">
					<thead>
						<tr>
							<th class="w140">日付</th>
							<th class="w300">コース内容</th>
							<th class="w50"></th>
							<th class="w70">出勤</th>
							<th class="w70">退勤</th>
							<th class="w80">中抜け時間</th>
							<th class="w70">ステータス</th>
							<th class="w240">備考</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceList}">
							<tr>
								<th:block>
									<input type="hidden" th:field="*{attendanceList[__${stat.index}__].isToday}"
										th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden"
										th:field="*{attendanceList[__${stat.index}__].studentAttendanceId}"
										th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:field="*{attendanceList[__${stat.index}__].trainingDate}"
										th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden"
										th:field="*{attendanceList[__${stat.index}__].dispTrainingDate}"
										th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:field="*{attendanceList[__${stat.index}__].sectionName}"
										th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:field="*{attendanceList[__${stat.index}__].statusDispName}"
										th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>
								<td class="w140">[[${dailyAttendanceForm.dispTrainingDate}]]</td>
								<td class="w300">[[${dailyAttendanceForm.sectionName}]]</td>
								<td class="w50"><button type="button"
										class="btn btn-default btn-sm set-standard-time-btn"
										th:data-row-index="${stat.index}">定時</button>
								</td>

								<td class="w200">
<!--									出勤時間（時）のプルダウン表示-->
									<select th:field="*{attendanceList[__${stat.index}__].trainingStartHour}"
										class="form-control" style="display: inline-block; width: 45%;"
										th:errorclass="errorInput">
										<option value="">--</option>
										<option th:each="entry : ${attendanceForm.hourMap.entrySet()}" th:value="${entry.key}"
											th:text="${entry.value}" th:selected="${entry.key == dailyAttendanceForm.trainingStartHour}">
										</option>
									</select>
									:
<!--									出勤時間（分）のプルダウン表示-->
									<select th:field="*{attendanceList[__${stat.index}__].trainingStartMinute}"
										class="form-control" style="display: inline-block; width: 45%;"
										th:errorclass="errorInput">
										<option value="">--</option>
										<option th:each="entry : ${attendanceForm.minuteMap.entrySet()}" th:value="${entry.key}"
											th:text="${entry.value}" th:selected="${entry.key == dailyAttendanceForm.trainingStartMinute}">
										</option>
									</select>
								</td>

								<td class="w200">
<!--									退勤時間（時）のプルダウン表示-->
									<select th:field="*{attendanceList[__${stat.index}__].trainingEndHour}"
										class="form-control" style="display: inline-block; width: 45%;"
										th:errorclass="errorInput">
										<option value="">--</option>
										<option th:each="entry : ${attendanceForm.hourMap.entrySet()}" th:value="${entry.key}"
											th:text="${entry.value}"
											th:selected="${entry.key == dailyAttendanceForm.trainingEndHour}"></option>
									</select>
									:
<!--									退勤時間（分）のプルダウン表示-->
									<select th:field="*{attendanceList[__${stat.index}__].trainingEndMinute}"
										class="form-control" style="display: inline-block; width: 45%;"
										th:errorclass="errorInput">
										<option value="">--</option>
										<option th:each="entry : ${attendanceForm.minuteMap.entrySet()}" th:value="${entry.key}"
											th:text="${entry.value}"
											th:selected="${entry.key == dailyAttendanceForm.trainingEndMinute}"></option>
									</select>
								</td>

								<td class="w200">
									<select th:field="*{attendanceList[__${stat.index}__].blankTime}"
										class="form-control">
										<option th:each="entry : ${attendanceForm.blankTimes.entrySet()}"
											th:value="${entry.key}"
											th:selected="${entry.key == dailyAttendanceForm.blankTime}"
											th:text="${entry.value}">
										</option>
									</select>
								</td>

								<td class="w70">[[${dailyAttendanceForm.statusDispName}]]</td>
								<td class="w240">
									<input type="text" th:field="*{attendanceList[__${stat.index}__].note}"
										class="form-control"></input>
									<span th:if="${#fields.hasErrors('attendanceList[' + stat.index + '].note')}"
										th:errors="*{attendanceList[__${stat.index}__].note}" class="text-danger">
									</span>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
					</th:block>
					<input type="button" value="更新" name="complete" class="btn btn-info" id="updateButton" />
				</div>

			</form>
		</div>
	</div>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			const updateButton = document.getElementById('updateButton');
			const attendanceUpdateForm = document.getElementById('attendanceUpdateForm');

			//ボタンのイベントを設定
			document.querySelectorAll('.set-standard-time-btn').forEach(button => {
				button.addEventListener('click', function () {

					// クリックされた行のインデックスを取得
					const rowIndex = this.dataset.rowIndex;

					// 該当する行のselect 要素を特定
					const startHourSelect = document.querySelector(`select[name='attendanceList[${rowIndex}].trainingStartHour']`);
					const startMinuteSelect = document.querySelector(`select[name='attendanceList[${rowIndex}].trainingStartMinute']`);
					const endHourSelect = document.querySelector(`select[name='attendanceList[${rowIndex}].trainingEndHour']`);
					const endMinuteSelect = document.querySelector(`select[name='attendanceList[${rowIndex}].trainingEndMinute']`);

					//定時ボタンの背景を緑色
					//button.style.backgroundColor = 'green';
					//定時ボタンの文字色を白色
					//button.style.color = 'white';

					// 定時 (9:00 - 18:00) を設定
					if (startHourSelect) startHourSelect.value = '9';
					if (startMinuteSelect) startMinuteSelect.value = '0';
					if (endHourSelect) endHourSelect.value = '18';
					if (endMinuteSelect) endMinuteSelect.value = '0';
				});
			});

			//ダイアログを表示
			if (updateButton && attendanceUpdateForm) {
				updateButton.onclick = function () {

					if (confirm('更新します。よろしいですか？')) {
						//ONの場合フォームに送信
						attendanceUpdateForm.submit();
					}
				};
			} else {
				console.error('フォームが見つかりません。');
			}
		});
	</script>
</body>

</html>